body{
    margin: 0;
    padding: 0;
 background-color: black;
 color: #fff;
}
 
.ji {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
    padding-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-top: 7%;
}
 /* debut barre*/
.past{
    flex-wrap: wrap;
    position: fixed;
    top: 0%;
    left: 0%;
    padding-left: 5px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: 0.5s;
    object-fit: cover;
    font-size: 11px;
    
}
ul li:hover{
    background: rgb(190, 124, 0)  ;
    border-radius: 10px;
    padding: 10px;
    }
.logo img{
    color: #fff;
    font-weight: bold;
    font-size:2em;
    text-decoration: none; 
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.logo span{
    color: #f0911f;
    
}
 
.navebar{
    display: flex;
    position: relative;
   flex-wrap: nowrap;

}
.navebar li{
    list-style: none;
    flex-wrap: nowrap;
}
.navebar a{
    color:#fff;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 50;
    margin: 20px;
    flex-flow: nowrap;
}
.force{ 
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(oo/cf.jpg);
}
/* fin barre*/

.presentation{
        display: flex;
        justify-content: center;
        object-fit: cover;
        padding: 10px;    
        border-top: 5px solid #ff0000;
        border-bottom: 5px solid #ff0000;
}
.P1{
        flex-wrap: nowrap;
        color: #fff;
        font-size:20px;
        text-align:center; 
        margin: 0px;
        float: right; 
        margin-right: 0px;
        padding-top: 20px;
}
.P2{
    color: #fff;
    flex-wrap: nowrap;
     background: #00140e;
  
    padding-bottom: 2px;
    font-size:40px;
    text-align: center;
}





  /*deuxieme */
#presentation{
    background-color: rgb(0, 0, 0);
    margin-left: 12%;
   
}

#prestation{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0px;
}
.imagesprestations{
font-family: cursive;
text-align: center;
font-size: 1.8em;
margin: 30px;
font-weight: 300;
}
.imagesprestations img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgb(152, 129, 236);
}

img{
    width: 190px;
    height: 250px;
    display: block;
    object-fit: cover;
    margin-left: 0px; 
}
.imagesprestations img:hover{
    opacity: 0.7;
    transform: scale(1.19);
    transition: 0.9s ease-in-out;
    object-fit: cover;
    background-color:none;
}

.parcours h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

.parcours{
   margin-right: 70px;
}
.comp{
    font-size: 30px;
    text-align: center;
}
.recomm h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

section{
     
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}



.sec{
    margin: 0px 10%;
}

.left{
    float: left;
    width: 30%;
}

.right{
    float: left;
    width: 70%;
}

.cleft, .cright, .sousleft, .sousright{
    float: left;
    width: 50%;
}

.sec::after, .exp::after, .parc::after{
    content:"";
    display: table;
    clear: both;
}
.vour{
    flex-flow: nowrap;
}
/* ça c'est le footer de mon site*/


footer{
    background-color: rgb(0, 0, 0);
    color: 0#FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
    border-top: 5px solid #ff0000;
    object-fit: cover;
    flex-flow: nowrap;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'advent pro',sans-serif;
    border-radius: 8px;
}
textarea{
    height: 120px;

}
button{
    font-size: 1.5em;
    background-color: #FFFAE1
}
button:hover{
    background-color: rgb(184, 6, 6);
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemetrait{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrighticons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright
{
    width: 85%px ;
    text-align: left;
    color: #FFFAE1;
}
#icons
 {
    width: 85%;
    text-align: right;
}

#icons a img 
{
  display: inline-block;
  margin: 0 15px;
 font-size: 1.3em;
 color: #FFFAE1;
 width: 30px;
 height: 30px;
}
#icons a img:hover
{
  transform: scale(1.5);
  transition: 0.1s;
}
h2{
    color: #FFFAE1;
    font-family: 'Advent pro', sans-serif;
}

   
@media screen and (max-width:970px){
    .past .navebar a {
        margin-left: 0px;
        margin-bottom: 0px;
        font-family: Bodoni MT Black;
        font-size: 10px;
    }
    .ji{
        font-size: 50px;
    }
  header img{
      margin-left: 0px;
       
      padding-left: 0px;
      margin-top: 20px;

  }

  .presentation{
      margin-left: 0px;
      margin: 0px;

  }
   .P2{
       font-size: 0px;
       text-align: center;
   }
  .P1{
      font-size: 10px;
      margin-left: 0px;
      margin-right: 0px;
  }
  section .imagesprestations img{
      width: 80px;
      height: 140px;
      margin-right: 0px;
      padding-left: 0px;
  }
  a{
      font-size: 10px;
      font-family: 'Courier New', Courier, monospace;
  }
  .navebar a{
      margin-left: 0px;
      font-weight: 0px;
      font-size: 5px;
  }
   
}
@media screen and (max-width:980px){
    .vour{
        margin-right: 0px;
        padding: 0px;
    }
    .frot{
        padding-top: 0px;
    }
}